package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>TODO APP</title>
			<link href="/static/styles.css" rel="stylesheet"/>
			<script src="/static/scripts.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
